.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 40px;
    font-family: sans-serif ;
    font-weight: 400;
    color: #ff5959;
}

body{
    margin: 0px;
    /* modify background color here*/
    background-color: #00ccbb;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    justify-content: space-evenly;
    
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 20px;
    width:400px;
    border-style: double;
    border-width: 5px;
    font-family:cursive;
    
}
